<div class="billing-container">
  <div class="form-header">
  <h2>🧾 Billing Form</h2>
  <button class="close-btn" (click)="closeDialog()">❌</button>
</div>
  <form [formGroup]="billingForm" (submit)="submitBill()">
    <div class="form-group">
      <label>Bill Code</label>
      <input type="text" formControlName="billCode" required />
    </div>
    <div class="form-group">
      <label>Billing Date</label>
      <input type="date" formControlName="billingDate" required />
    </div>
    <div class="form-group">
    <label>Select Shop:</label>
    <select formControlName="shopId" required>
      <option *ngFor="let shop of shops" [value]="shop.shopId">{{ shop.name }}</option>
    </select>
    </div>
    <div class="form-group">
      <label>Phone Number</label>
      <input type="text"  formControlName="phone" required />
    </div>
    <div class="form-group">
      <label>Items</label>
      <table formArrayName="items">
        <tr>
          <th>Category</th>
          <th>Item Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
          <th>Actions</th>
        </tr>
<!--        <tr *ngFor="let item of items.controls; let i = index">-->
        <tr *ngFor="let product of productsFormArray.controls; let i = index" [formGroupName]="i">
          <td>
            <select formControlName="categoryId" (change)="onCategoryChange(i)" required>
              <option *ngFor="let cat of category" [value]="cat.categoryId">
                {{ cat.category }}
              </option>
            </select>
          </td>

          <td>
            <select formControlName="itemId" (change)="onItemChange(i)" required>
              <option *ngFor="let itm of filteredItems[i]" [value]="itm.productId">
                {{ itm.productName }}
              </option>
            </select>
          </td>
          <td><input type="number"  formControlName="quantity"  (input)="onQuantityChange(i)" (input)="updateTotal(i)" min="1"/></td>
          <td><input type="number"  formControlName="price" (input)="updateTotal(i)"/></td>
          <td>{{ getTotal(i) }}</td>
          <td><button type="button" (click)="removeProduct(i)">🗑 Remove</button></td>
        </tr>

      </table>
      <button type="button" (click)="addProduct()">➕ Add Item</button>
    </div>
    <div class="form-group">
      <label for="paymentMethod">Payment Method</label>
      <select id="paymentMethod" formControlName="paymentMethod" required>
        <option *ngFor="let method of paymentMethods" [value]="method">{{ method }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Total Amount:</label>
      <h3>₹ {{ totalAmount }}</h3>
    </div>

    <button type="submit" class="submit-btn" [disabled]="billingForm.invalid">Submit Bill</button>
  </form>
</div>
